* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}
body {
  background-color: var(--Very-dark-blue);
  color: var(--White);
  font-size: 15px;
  font-family: "Inter", sans-serif;
 /* font-family: "Lexend Deca", sans-serif; */
}
.container {
  border-radius: 20px;
  width: 1100px;
  margin: 50px auto;
  margin-bottom: 10px;
  background-color: var(--Dark-desaturated-blue);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
}
.text h1 {
  font-size: 35px;
  padding-bottom: 30px;
  padding-top: 40px;
}
.flex {
  display: flex;
  height: fit-content;
}
.flex-container {
  width: fit-content;
  height: fit-content;
}
.flex2 {
  padding-top: 35px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex2 h2 {
  padding-bottom: 0;
  padding-top: 0;
  font-size: 30px;
}
.flex2 p {
 
  font-size: 12px;
  padding-top: 0;
}

.text {
  padding: 30px 70px;
  line-height: 1.2;
  border: none;
}
.insight {
  color: var(--Soft-violet);
}
.stats {
  text-align: left;
  color: var(--White);
}

.stats > p {
  color: var(--Slightly-transparent-white);
  font-family: "Lexend Deca", sans-serif;
  padding-top: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.short-word {
  color: var(--Slightly-transparent-white);
  line-height: 2;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Lexend Deca", sans-serif;
}
.card-img{
  width: 1200px;
  height: 450px;
  background-image: url(images/image-header-desktop.jpg);
  background-color: var(--Soft-violet);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-size: 100% 100%;
}
@media screen and (max-width: 375px) {
  .flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .container {
    width: 90vw;
    margin: 20px auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .card-img {
    width: 300px;
    height: 280px;
   background-image: url(images/image-header-mobile.jpg);
  }
  .text {
    padding: 1px 25px;
    text-align: center;
  }
  .flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .stats {
    width: 25%;
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: left;
  }
}
