:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);
  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}
body{
    background-color: var(--Very-dark-blue);
    color: var(--White);
    font-size: 15px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 75vw;
    margin: 60px auto;
    

}
p{
    color: var(--Slightly-transparent-white);
}
